  @media print {
      html{
        width: 185mm !important;
        margin: 2mm 3mm 2mm 3mm;
        padding: 0;
        page-break-after: auto;
        font-size: 10pt;
        font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
      }

  }
  
  @page html{
    width: 185mm !important;
    margin: 2mm 3mm 2mm 3mm;
    padding: 0;
    page-break-after: auto;
    font-size: 10pt;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  }
  html{
    width: 185mm !important;
    margin: 2mm 3mm 2mm 3mm;
    padding: 0;
    page-break-after: auto;
    font-size: 10pt;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  }

  body{
    width: 185mm;
    margin: 2mm 3mm 2mm 3mm;
    padding: 0;
  }
  
  section{
    margin: 1em 0 1em 0;
  }
  
  p{
    margin: 0;
    padding: 0;
  }
  img{
    width: 100%;
  }


  .col1{
    width: 7.86%; /* 13.5mm * 2 */
    display: table-cell;
  }

  .col2{
    width: 15.72%; /* 13.5mm * 2 */
    display: table-cell;
  }
  .col3{
    width: 23.58%; /* 13.5mm * 2 */
    display: table-cell;
  }
  .col4{
    width: 31.44%; /* 13.5mm * 4 */
    display: table-cell;
  }
  .col6{
    width: 47.16%; /* 13.5mm * 6 */
    display: table-cell;
  }
  .col7{
    width: 55.02%; /* 13.5mm * 6 */
    display: table-cell;
  }
  .col12{
    width: 94.32%; /* 13.5mm * 6 */
    display: table-cell;
    padding: 0.5%;
  }



  .font_small{
    font-size: 0.8em;
  }
  .font_large{
    font-size: 1.2em;
  }
  .font_bold{
    font-weight: bold;
  }

  .row{
    display: table;
    width: 100%;
  }
  .mrg_btm_0{
    margin-bottom: 0px;
  }  
  .mrg_top_0{
    margin-top: 0px;
  }  
  
  .pdg_lft{
    padding-left: 5px;
  }


  .bdr_top{
    border-top: 1px solid #000;
  }

  .bdr_top_dot{
    border-top: 1px dotted #000;
  }


  .bdr_btm{
    border-bottom: 1px solid #000;
  }

  .bdr_lft{
    border-left: 1px solid #000;
  }

  .bdr_rgt{
    border-right: 1px solid #000;
  }

  .bdr_top_white{
    border-top: 1px solid #fff;
  }

  .bdr_btm_white{
    border-bottom: 1px solid #fff;
  }

  .bdr_lft_white{
    border-left: 1px solid #fff;
  }

  .bdr_rgt_white{
    border-right: 1px solid #fff;
  }


  
  .bdr_bold{
    border: 3px solid #000;
  }


  .txtctr{
    text-align: center;
    vertical-align: middle;
  }
  .txtrgt{
    text-align: right;
    vertical-align: middle;
  }

  .report_content{
    margin: 0;
    padding: 0;
    
  }
  

  .report_header{
    width: 100%;
  }
  .report_header_title{
    background-color: #c9c9c9;
    color: #fff;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
  }
  
  .section_title{
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .cell_title{
      background: #000;
      color: #fff;
      font-weight: bold;
  }
